%h1 Listing channels

%hr
%h3
  = @result.inspect
%hr

= link_to 'New Channel', new_channel_path

= form_tag attach_lists_channels_path, method: :post, multipart: true do # attach_lists_channels
  = label_tag 'Upload list(s)'
  = file_field_tag 'iptv_lists[]', accept: 'application/mpegurl', multiple: true, enctype: 'multipart/form-data'
  = submit_tag 'Attach'

%br

%table
  %thead
    %tr
      %th Group
      %th Name
      %th Url
      %th Status
      %th
      %th
      %th

  %tbody
    - @channels.each do |channel|
      %tr
        %td= channel.group.name
        %td= channel.name
        %td= channel.url
        %td= channel.status
        %td= link_to 'Show', channel
        %td= link_to 'Edit', edit_channel_path(channel)
        %td= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' }
