= form_for @list_item do |f|
  - if @list_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list_item.errors.count, "error")} prohibited this list_item from being saved:"
      %ul
        - @list_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :list
    = f.text_field :list
  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :channel
    = f.text_field :channel
  .actions
    = f.submit 'Save'
